html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.home-page {
  margin: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'sans-serif';
  letter-spacing: 1.3px;
  color: #282828;
  overflow: show;
  background-color: #000;
  background: url(../img/bg.jpg) 50% 100% no-repeat, url(../img/bg_repeat.jpg) 50% 0% repeat-y;
}

@media (max-width: 1400px) {
  .home-page {
    background: url(../img/bg1.jpg) 50% 100% no-repeat, url(../img/bg_repeat1.jpg) 50% 0% repeat-y;
    background-size: 100% auto;
  }
}

.main {
  padding-top: 50px;
  padding-bottom: 102px;
}

@media (max-width: 992px) {
  .main {
    padding: 0;
  }
}

.btn {
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  color: #E9E9EA;
  text-decoration: none;
  text-align: center;
  border: 2px solid #fcb800;
  border-radius: 5px;
}

.btn:hover {
  background: #fcb800;
  color: #000;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .wrap {
    max-width: 960px;
    margin: 0 auto;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 17px 18px 10px;
}

@media (max-width: 992px) {
  .header__top {
    padding: 5px;
    min-height: 51px;
  }
}

.header-top__wp-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__wp-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__call-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px 30px;
}

.header-top__working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px 0 0 20px;
}

.header-top__logo {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -62px;
}

.header-top__basket-bonus {
  padding-top: 2px;
  margin-right: 31px;
}

.header-top__account {
  margin-top: -5px;
  margin-right: 32px;
}

@media (max-width: 1199px) {
  .header-top__logo {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .header-top__call-order {
    padding: 0;
  }
  .header-top__logo {
    top: 5px;
    left: 15px;
  }
}

.call-order__phone-link {
  text-decoration: none;
  color: #fcb800;
  font: 600 24px/1.4em Source Sans Pro;
  letter-spacing: 0.85px;
}

.call-order__phone-link:hover {
  text-decoration: underline;
}

.call-order__text-link {
  text-decoration: none;
  color: #E9E9EA;
  font: 15.8px/1.4em Source Sans Pro;
  letter-spacing: 0.7px;
  background: url(../img/header-top/phone.png) 8% 100% no-repeat;
  padding: 3px 0 0 47px;
}

.call-order__text-link:hover {
  color: #fcb800;
}

@media (max-width: 992px) {
  .call-order__text-link {
    display: none;
  }
  .call-order__phone-link {
    position: absolute;
    top: 5px;
    left: 50%;
    font-size: 14.8px;
    letter-spacing: 0.95px;
    margin-left: -60.5px;
  }
}

.working-hours__top {
  margin-left: -1px;
  margin-bottom: -2px;
}

.working-hours__top, .working-hours__bottom {
  color: #E9E9EA;
  font: 15.8px/1.4em Source Sans Pro;
  letter-spacing: 0.7px;
}

.working-hours__hours {
  font: 600 23px/1.4em Source Sans Pro;
  letter-spacing: 1.5px;
  color: #fcb800;
}

@media (max-width: 992px) {
  .working-hours__top {
    display: none;
  }
  .working-hours__bottom {
    position: absolute;
    top: 22.5px;
    left: 50%;
    color: #fff;
    font-size: 14.8px;
    font-weight: 300;
    letter-spacing: 0;
    margin-left: -50px;
  }
  .working-hours__hours {
    color: #fff;
    font-size: 13.8px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 992px) {
  .logo__img {
    width: 50px;
  }
}

.basket-bonus__basket {
  display: block;
  position: relative;
  text-decoration: none;
  color: #E9E9EA;
  font: lighter 15px/1.4em Source Sans Pro;
}

@media (max-width: 992px) {
  .basket-bonus__basket {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.basket__img {
  position: absolute;
  top: 0;
  left: -65px;
}

.basket__number {
  width: 24px;
  height: 24px;
  background: #fcb800;
  text-align: center;
  font: bold 13px/1.9em Source Sans Pro;
  color: #282828;
  position: absolute;
  top: 20px;
  left: -49px;
  padding-left: 2px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.basket__text {
  margin-top: -7px;
  margin-left: -1px;
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.6px;
}

@media (max-width: 992px) {
  .basket__img {
    position: absolute;
    margin: 11px 0 0 23px;
    width: 24px;
  }
  .basket__number {
    position: absolute;
    font-size: 10px;
    line-height: 1.7em;
    top: 25px;
    left: -31px;
    width: 16px;
    height: 16px;
  }
  .basket__text {
    display: none;
  }
}

.basket-bonus__bonus {
  position: relative;
  margin-top: 5px;
  margin-left: -65px;
}

.bonus__text {
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.bonus__text::after {
  content: '';
  background: url(../img/header-top/line.png) 0% 0% repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.bonus__text:hover::after {
  display: none;
}

.bonus__number {
  color: #fcb800;
  font: 700 23px/1.4em Source Sans Pro;
}

@media (max-width: 992px) {
  .bonus__text {
    display: none;
  }
}

.account__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.6px;
}

.account__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 11px;
}

@media (max-width: 992px) {
  .account__img {
    margin: 5px 23px 0 0;
  }
  .account__text {
    display: none;
  }
}

.header__header-nav {
  margin: -1px 50px 0px 50px;
}

@media (max-width: 992px) {
  .header__header-nav {
    margin: -1px 0 0 0;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 15px 11px 14px;
  border: 2px solid #fcb800;
  border-radius: 5px;
}

.header-nav__item {
  text-align: center;
}

.header-nav__nav-link {
  text-decoration: none;
  color: #E9E9EA;
}

.header-nav__nav-link:hover {
  color: #fcb800;
}

.header-nav__nav-link:hover > .nav-link__img {
  display: none;
}

.header-nav__nav-link:hover > .nav-link__img--active {
  display: inline;
}

@media (max-width: 992px) {
  .header-nav__list {
    display: none;
  }
}

.button-nav__link {
  display: none;
}

@media (max-width: 992px) {
  .button-nav__link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 600 15.8px Source Sans Pro;
    letter-spacing: 1.4px;
    background: rgba(0, 0, 0, 0.7);
    padding: 13px 11px 14px;
    border: 2px solid #fcb800;
    border-radius: 5px;
  }
}

.nav-link__img {
  margin-left: -1px;
}

.nav-link__img--active {
  display: none;
}

.nav-link__text {
  font: 18px Source Sans Pro;
  letter-spacing: 1px;
  padding-top: 5px;
}

.main__slider {
  position: relative;
  padding: 62px 132px;
  width: 100%;
  height: 550px;
  background: url(../img/slider/slider_bg1.jpg) no-repeat;
  background-size: contain;
}

@media (max-width: 1199px) {
  .main__slider {
    height: 403px;
    padding: 52px 100px;
  }
}

@media (max-width: 768px) {
  .main__slider {
    background: url(../img/slider/slider_bg2.jpg) no-repeat;
    padding: 20px 34px;
    background-size: 100%;
  }
}

@media (max-width: 425px) {
  .main__slider {
    background: url(../img/slider/slider_bg2.jpg) no-repeat;
    padding: 20px 15px;
    background-size: 100%;
    height: 188px;
  }
}

.slider__bazilik {
  position: absolute;
  top: -65px;
  left: -97px;
}

.slider__bazilik--bottom {
  display: none;
}

.slider__title {
  font: 600 40px/1.4em  Source Sans Pro;
  color: #fcb800;
}

.slider__text {
  padding-top: 6px;
  font: 24.8px/1.4em Source Sans Pro;
  letter-spacing: 1.15px;
  color: #E9E9EA;
}

.slider__button {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 55px;
  padding: 12.5px 40px;
}

@media (max-width: 992px) {
  .slider .slider__bazilik {
    display: none;
  }
  .slider .slider__button {
    margin-top: 45px;
  }
}

@media (max-width: 768px) {
  .slider .slider__title {
    font-size: 20px;
    padding: 0;
  }
  .slider .slider__text {
    font-size: 16px;
  }
  .slider .slider__button {
    font-size: 16px;
    margin-top: 19px;
    padding: 10.5px 65px;
  }
}

@media (max-width: 325px) {
  .slider .slider__title {
    font-size: 16px;
    padding-right: 20px;
  }
  .slider .slider__text {
    font-size: 12px;
  }
}

.main__product {
  position: relative;
  padding: 20px 20px;
  text-align: center;
}

.main__product--sub {
  margin-top: 59px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .main__product--sub {
    margin-top: 20px;
    padding-bottom: 60px;
  }
}

.product__bg-olivki, .product__bg-salat, .product__bg-griby, .product__bg-muka, .product__bg-oregano {
  position: absolute;
}

.product__bg-olivki {
  top: 0;
  left: 22%;
  z-index: -1;
}

.product__bg-salat {
  bottom: 58px;
  right: -272px;
  z-index: -1;
}

.product__bg-salat--l {
  top: 348px;
  left: -285px;
  z-index: -1;
}

.product__bg-griby {
  top: 120px;
  left: 46%;
  z-index: -1;
}

.product__bg-muka {
  top: 348px;
  left: -330px;
  z-index: -1;
}

.product__title {
  text-align: center;
  color: #fff;
  font: 600 35.8px/1.4em Source Sans Pro;
  letter-spacing: 3px;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 75.5px 0 75.5px;
}

.product__item {
  position: relative;
  margin-right: 58px;
  margin-bottom: 42px;
  width: 347px;
}

.product__block-info {
  border: 1px solid black;
  border-radius: 0 0 5px 5px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: -5px;
  padding: 10px 10px 23px 10px;
}

.product__more-products {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #fff;
  font: 24px/1.3em Source Sans Pro;
  letter-spacing: 2px;
}

.product__more-products::after {
  content: '';
  background: url(/img/product/line_big.png) 0% 0% repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.product__more-products:hover::after {
  display: none;
}

@media (min-width: 1348px) {
  .product .product__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (max-width: 1347px) {
  .product__item {
    margin-right: 58px;
  }
  .product__item:last-child {
    margin-right: 0;
  }
  .product__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .product .product__title {
    font-size: 20px;
    letter-spacing: 1.3px;
  }
  .product .product__list {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
  .product .product__item {
    width: 100%;
    min-height: 220px;
    margin: 0px 0 20px 0;
  }
  .product .product__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
  }
  .product .product__block-image {
    position: absolute;
    width: 213px;
    height: 185px;
    top: 25px;
    left: -85px;
  }
  .product .product__block-info {
    border: 0;
    border-radius: 0;
    width: 100%;
    padding: 16px 17px 10px 141px;
    text-align: left;
    background: #FCFCFC;
  }
  .product .product__more-products {
    font-size: 19px;
  }
}

.product .block-image__link {
  position: relative;
  text-decoration: none;
}

.product .block-image__icon {
  position: absolute;
  top: -261px;
  left: 19px;
}

.product .block-image__icon-img {
  margin-right: 5px;
}

.product .block-image__img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  margin-bottom: 0;
}

.product .block-image__weight {
  position: absolute;
  color: #424242;
  background: #fff;
  padding: 6px 7px;
  border-radius: 5px;
  font: 600 17px/1.3em Source Sans Pro;
  letter-spacing: 1.3px;
  left: 24px;
  bottom: 25px;
}

@media (max-width: 768px) {
  .product .block-image__icon {
    display: none;
  }
  .product .block-image__weight {
    font-size: 12px;
    padding: 2px 4px;
    left: 103px;
    bottom: 30px;
  }
}

.product .block-info__type {
  color: #fff;
  font: 600 20px/1.3em Source Sans Pro;
  padding-top: 9px;
}

.product .block-info__name {
  color: #fcb800;
  font: 600 24px/1.3em Source Sans Pro;
}

.product .block-info__text {
  display: none;
}

.product .block-info__buy {
  padding: 27px 10px 15px 10px;
}

.product .block-info__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 302px;
  padding: 12.5px 0;
  color: #fff;
  font: 600 22.8px/1.3em Source Sans Pro;
}

.product .block-info__button:hover {
  color: #292828;
}

.product .block-info__button:hover > .block-info__button-img {
  display: none;
}

.product .block-info__button:hover > .block-info__button-img--active {
  display: inline-block;
}

.product .block-info__button-img {
  margin-left: 32px;
}

.product .block-info__button-img--active {
  display: none;
}

@media (max-width: 768px) {
  .product .block-info__type {
    display: none;
  }
  .product .block-info__name {
    font-size: 18px;
    font-weight: 700;
    color: #282828;
  }
  .product .block-info__text {
    display: block;
  }
  .product .block-info__buy {
    padding: 20px 0 5px 0;
  }
  .product .block-info__button {
    width: 202px;
    color: #282828;
    background: #fcb800;
    font-size: 16px;
  }
  .product .block-info__button:hover {
    color: #fff;
  }
  .product .block-info__button:hover > .block-info__button-img {
    display: inline-block;
  }
  .product .block-info__button:hover > .block-info__button-img--active {
    display: none;
  }
  .product .block-info__button-img {
    display: none;
  }
  .product .block-info__button-img--active {
    display: inline-block;
  }
  .product .block-info__button-img {
    width: 22px;
    margin-left: 10px;
  }
  .product .block-info__fast-order {
    padding-bottom: 10px;
  }
}

.product .fast-order__links {
  color: #fff;
  font: 17.4px/1.3em Source Sans Pro;
}

.product .fast-order__links:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .product .fast-order__links {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #282828;
  }
}

.main__product-bottom {
  position: relative;
  margin-top: 110px;
  padding: 20px 19px;
  text-align: center;
}

@media (max-width: 798px) {
  .main__product-bottom {
    margin-top: 10px;
  }
}

.product-bottom__bg-lozhka, .product-bottom__bg-ogurec, .product-bottom__bg-pomidor, .product-bottom__bg-kolos {
  position: absolute;
}

.product-bottom__bg-lozhka {
  top: -72px;
  left: 18%;
  z-index: -1;
}

.product-bottom__bg-ogurec {
  top: 640px;
  left: -84px;
  z-index: -1;
}

.product-bottom__bg-pomidor {
  top: 256px;
  right: -120px;
  z-index: -1;
}

.product-bottom__bg-kolos {
  bottom: -211px;
  right: -139px;
  z-index: -1;
}

.product-bottom__title {
  text-align: center;
  color: #fff;
  font: 600 35.8px/1.4em Source Sans Pro;
  letter-spacing: 3px;
}

.product-bottom__list {
  padding: 31px 73px 0 75px;
}

.product-bottom__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.product-bottom__block-image {
  position: relative;
}

.product-bottom__block-info {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background: rgba(0, 0, 0, 0.7);
  max-width: 469px;
  max-height: 415px;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .product-bottom .product-bottom__title {
    font-size: 20px;
    letter-spacing: 1.6px;
  }
}

.product-bottom .block-image__icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.product-bottom .block-image__link-img {
  width: 100%;
  max-width: 691px;
}

.product-bottom .block-info__text {
  color: #fff;
  font: 24px/1.65em Source Sans Pro;
  letter-spacing: 2px;
  text-align: left;
  padding: 98px 90px 40px 68px;
}

.product-bottom .block-info__text-bold {
  color: #fcb800;
  font: 600 26px/1.3em Source Sans Pro;
  letter-spacing: 2.8px;
}

.product-bottom .block-info__button-link {
  margin-left: -32px;
  width: 302px;
  padding: 10px 0;
  color: #fff;
  font: 600 23.8px/1.6em Source Sans Pro;
  letter-spacing: 1.15px;
  text-transform: uppercase;
}

@media (max-width: 1298px) {
  .product-bottom .block-info__text {
    padding: 98px 65px 40px 68px;
  }
}

@media (max-width: 1024px) {
  .product-bottom .product-bottom__list {
    padding: 31px 10px 0 10px;
  }
  .product-bottom .block-info__text {
    padding: 48px 25px 40px 38px;
  }
}

@media (max-width: 768px) {
  .product-bottom .product-bottom__list {
    padding: 31px 10px 0 10px;
  }
  .product-bottom .product-bottom__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
  .product-bottom .product-bottom__block-info {
    margin: -5px 0 0 0;
    max-width: 691px;
    border-radius: 0 0 5px 5px;
  }
  .product-bottom .block-image__icon-img {
    width: 39px;
  }
  .product-bottom .block-info__text {
    font: 16px/1.3em Source Sans Pro;
    letter-spacing: 1.2px;
    padding: 10px;
    text-align: center;
  }
  .product-bottom .block-info__text-bold {
    font: 600 20px/1.3em Source Sans Pro;
    letter-spacing: 1.2px;
  }
  .product-bottom .block-info__button {
    padding-bottom: 20px;
  }
  .product-bottom .block-info__button-link {
    font: 18px/1.6em Source Sans Pro;
    width: 90%;
    margin-left: 0;
    padding: 10px 0;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(80%, #000));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #000 80%);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: contain;
  margin: 94px auto 0 auto;
  padding: 10px 10px 92px 10px;
}

.footer__item {
  margin-right: 50px;
}

.footer__item:nth-child(4) {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .footer {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(80%, #000));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #000 80%);
  }
  .footer__item {
    margin-right: 5px;
  }
  .footer__item:nth-child(4) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .footer {
    background: 0;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 14px auto 0 auto;
  }
}

.footer-menu__list {
  list-style-type: none;
  margin-top: 6px;
}

.footer-menu__item {
  margin-bottom: 10px;
}

.footer-menu__item:nth-child(5) > .footer-menu__link {
  color: #fcb800;
}

.footer-menu__link {
  text-decoration: none;
  color: #E9E9EA;
  font: 16px/1.4em Source Sans Pro;
  letter-spacing: 1.1px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.footer-menu__link:hover {
  text-decoration: underline;
  color: #fcb800;
}

@media (max-width: 1024px) {
  .footer-menu__list {
    padding: 0 7px;
  }
  .footer-menu__item {
    max-width: 170px;
    margin-bottom: 6px;
  }
}

@media (max-width: 768px) {
  .footer-menu__item {
    max-width: none;
    margin-bottom: 10px;
  }
}

.card-pay__title {
  color: #E9E9EA;
  font: 16px/1.4em Source Sans Pro;
  letter-spacing: 0.5px;
  padding: 6px 7px 0 7px;
}

.card-pay__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 19px 7px;
  max-width: 150px;
}

.card-pay__item {
  margin: 0 16px 11px 0;
}

@media (max-width: 1024px) {
  .card-pay__title {
    padding: 6px 0 0 10px;
    letter-spacing: 0.4px;
  }
  .card-pay__list {
    margin-right: 0;
    padding: 19px 7px;
    max-width: 120px;
  }
  .card-pay__item {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .card-pay__title {
    padding: 6px 0 0 10px;
    letter-spacing: 0.4px;
  }
  .card-pay__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    padding: 19px 7px;
    max-width: none;
  }
  .card-pay__item {
    margin-right: 10px;
  }
  .card-pay__item-img {
    width: 38px;
  }
}

.footer-logo__block-image {
  padding-left: 83px;
}

.footer-logo__block-icon {
  padding: 9px 0 0 111px;
}

.footer-logo__link {
  text-decoration: none;
}

.footer-logo__social {
  margin-right: 12px;
}

@media (max-width: 1024px) {
  .footer-logo__block-image {
    padding-left: 10px;
  }
  .footer-logo__block-icon {
    padding: 9px 0 0 30px;
  }
}

@media (max-width: 768px) {
  .footer-logo {
    display: none;
  }
}

.footer-info__block-phone {
  padding: 7px 0 0 72px;
}

.footer-info__phone {
  text-decoration: none;
  color: #fcb800;
  font: 600 20px/1.3em Source Sans Pro;
  letter-spacing: 1.55px;
}

.footer-info__phone-text {
  padding-top: 2px;
  color: #E9E9EA;
  font: 600 15px/1.3em Source Sans Pro;
  letter-spacing: 0.6px;
}

.footer-info__city {
  padding: 20px 0 0 72px;
  color: #E9E9EA;
  font: 600 15px/1.3em Source Sans Pro;
  letter-spacing: 0.8px;
}

.footer-info__city-bold {
  color: #fcb800;
  font: 600 20px/1.3em Source Sans Pro;
  letter-spacing: 1.55px;
}

.footer-info__block-hours {
  padding-top: 7px;
}

.footer-info__hours-title, .footer-info__hours {
  padding: 0 0 5px 32px;
  color: #E9E9EA;
  font: 600 15px/1.3em Source Sans Pro;
  letter-spacing: 0.8px;
}

.footer-info__hours-bold {
  color: #fcb800;
  font: 600 20px/1.3em Source Sans Pro;
  letter-spacing: 1.55px;
}

.footer-info__block-adress {
  padding: 13px 0 5px 32px;
}

.footer-info__name {
  color: #fcb800;
  font: 600 20px/1.3em Source Sans Pro;
  letter-spacing: 1.55px;
}

.footer-info__adress {
  color: #E9E9EA;
  font: 600 15px/1.3em Source Sans Pro;
  letter-spacing: 0.8px;
}

@media (max-width: 1024px) {
  .footer-info__block-phone {
    padding: 7px 0 0 32px;
  }
  .footer-info__city {
    padding: 20px 0 0 32px;
  }
}

@media (max-width: 768px) {
  .footer-info__city {
    display: none;
  }
  .footer-info__phone-text {
    display: none;
  }
  .footer-info__block-phone {
    padding-left: 0;
  }
  .footer-info__hours-title {
    padding-left: 0;
  }
  .footer-info__hours {
    padding-left: 0;
  }
  .footer-info__block-adress {
    padding-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */