html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.home-page {
  margin: 0;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'sans-serif';
  letter-spacing: 1.3px;
  color: #282828;
  overflow: show;
  height: 900px;
  background: url(/nasha-pizza.by/img/bg1.jpg) 50% 100% no-repeat, url(/nasha-pizza.by/img/bg_repeat1.jpg) 50% 0% repeat-y;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .wrap {
    max-width: 960px;
    margin: 0 auto;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 17px 18px 10px;
}

@media (max-width: 992px) {
  .header__top {
    padding: 5px;
    min-height: 51px;
  }
}

.header__wp-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wp-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__call-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px 30px;
}

.header-top__working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px 0 0 20px;
}

.header-top__logo {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -62px;
}

.header-top__basket-bonus {
  padding-top: 2px;
  margin-right: 31px;
}

.header-top__account {
  margin-top: -5px;
  margin-right: 32px;
}

@media (max-width: 1199px) {
  .header-top__logo {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .header-top__call-order {
    padding: 0;
  }
  .header-top__logo {
    top: 5px;
    left: 15px;
  }
}

.call-order__phone-link {
  text-decoration: none;
  color: #fcb800;
  font: 600 24px/1.4em Source Sans Pro;
  letter-spacing: 0.85px;
}

.call-order__phone-link:hover {
  text-decoration: underline;
}

.call-order__text-link {
  text-decoration: none;
  color: #E9E9EA;
  font: 15.8px/1.4em Source Sans Pro;
  letter-spacing: 0.7px;
  background: url(/nasha-pizza.by/img/header-top/phone.png) 8% 100% no-repeat;
  padding: 3px 0 0 47px;
}

.call-order__text-link:hover {
  color: #fcb800;
}

@media (max-width: 992px) {
  .call-order__text-link {
    display: none;
  }
  .call-order__phone-link {
    position: absolute;
    top: 5px;
    left: 50%;
    font-size: 14.8px;
    letter-spacing: 0.95px;
    margin-left: -60.5px;
  }
}

.working-hours__top {
  margin-left: -1px;
  margin-bottom: -2px;
}

.working-hours__top, .working-hours__bottom {
  color: #E9E9EA;
  font: 15.8px/1.4em Source Sans Pro;
  letter-spacing: 0.7px;
}

.working-hours__hours {
  font: 600 23px/1.4em Source Sans Pro;
  letter-spacing: 1.5px;
  color: #fcb800;
}

@media (max-width: 992px) {
  .working-hours__top {
    display: none;
  }
  .working-hours__bottom {
    position: absolute;
    top: 22.5px;
    left: 50%;
    color: #fff;
    font-size: 14.8px;
    font-weight: 300;
    letter-spacing: 0;
    margin-left: -50px;
  }
  .working-hours__hours {
    color: #fff;
    font-size: 13.8px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 992px) {
  .logo__img {
    width: 50px;
  }
}

.basket-bonus__basket {
  display: block;
  position: relative;
  text-decoration: none;
  color: #E9E9EA;
  font: lighter 15px/1.4em Source Sans Pro;
}

@media (max-width: 992px) {
  .basket-bonus__basket {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.basket__img {
  position: absolute;
  top: 0;
  left: -65px;
}

.basket__number {
  width: 24px;
  height: 24px;
  background: #fcb800;
  text-align: center;
  font: bold 13px/1.9em Source Sans Pro;
  color: #282828;
  position: absolute;
  top: 20px;
  left: -49px;
  padding-left: 2px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.basket__text {
  margin-top: -7px;
  margin-left: -1px;
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.6px;
}

@media (max-width: 992px) {
  .basket__img {
    position: absolute;
    margin: 11px 0 0 23px;
    width: 24px;
  }
  .basket__number {
    position: absolute;
    font-size: 10px;
    line-height: 1.7em;
    top: 25px;
    left: -31px;
    width: 16px;
    height: 16px;
  }
  .basket__text {
    display: none;
  }
}

.basket-bonus__bonus {
  position: relative;
  margin-top: 5px;
  margin-left: -65px;
}

.bonus__text {
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.bonus__text::after {
  content: '';
  background: url(/nasha-pizza.by/img/header-top/line.png) 0% 0% repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.bonus__text:hover::after {
  display: none;
}

.bonus__number {
  color: #fcb800;
  font: 700 23px/1.4em Source Sans Pro;
}

@media (max-width: 992px) {
  .bonus__text {
    display: none;
  }
}

.account__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.6px;
}

.account__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 11px;
}

@media (max-width: 992px) {
  .account__img {
    margin: 5px 23px 0 0;
  }
  .account__text {
    display: none;
  }
}

.header__header-nav {
  margin: -1px 50px 0px 50px;
}

@media (max-width: 992px) {
  .header__header-nav {
    margin: -1px 0 0 0;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 15px 11px 14px;
  border: 2px solid #fcb800;
  border-radius: 5px;
}

.header-nav__item {
  text-align: center;
}

.header-nav__nav-link {
  text-decoration: none;
  color: #E9E9EA;
}

.header-nav__nav-link:hover {
  color: #fcb800;
}

.header-nav__nav-link:hover > .nav-link__img {
  display: none;
}

.header-nav__nav-link:hover > .nav-link__img--active {
  display: inline;
}

@media (max-width: 992px) {
  .header-nav__list {
    display: none;
  }
}

.button-nav__link {
  display: none;
}

@media (max-width: 992px) {
  .button-nav__link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 600 15.8px Source Sans Pro;
    letter-spacing: 1.4px;
    background: rgba(0, 0, 0, 0.7);
    padding: 13px 11px 14px;
    border: 2px solid #fcb800;
    border-radius: 5px;
  }
}

.nav-link__img {
  margin-left: -1px;
}

.nav-link__img--active {
  display: none;
}

.nav-link__text {
  font: 18px Source Sans Pro;
  letter-spacing: 1px;
  padding-top: 5px;
}
/*# sourceMappingURL=style.css.map */