html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.home-page {
  font-size: 16px;
  font-family: 'Source Sans Pro', 'sans-serif';
  letter-spacing: 1.3px;
  color: #282828;
  overflow: show;
  height: 900px;
  background: url(/nasha-pizza.by/img/bg1.jpg) 50% 100% no-repeat, url(/nasha-pizza.by/img/bg_repeat1.jpg) 50% 0% repeat-y;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.header-top__call-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 23px 30px;
}

.header-top__working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 161px;
  padding: 4px 0 0 20px;
}

.header-top__logo {
  margin: -5px 354px 0 0;
}

.header-top__basket-bonus {
  margin-right: 31px;
}

.header-top__account {
  margin-top: -5px;
}

.call-order__phone-link {
  text-decoration: none;
  color: #fcb800;
  font: 600 23px/1.4em Source Sans Pro;
}

.call-order__phone-link:hover {
  text-decoration: underline;
}

.call-order__text-link {
  text-decoration: none;
  color: #E9E9EA;
  font: 15.8px/1.4em Source Sans Pro;
  letter-spacing: 0.7px;
  background: url(/nasha-pizza.by/img/header-top/phone.png) 8% 100% no-repeat;
  padding: 3px 0 0 47px;
}

.call-order__text-link:hover {
  color: #fcb800;
}

.working-hours__top {
  margin-bottom: -2px;
}

.working-hours__top, .working-hours__bottom {
  color: #E9E9EA;
  font: 15.8px/1.4em Source Sans Pro;
  letter-spacing: 0.7px;
}

.working-hours__hours {
  font: 600 23px/1.4em Source Sans Pro;
  letter-spacing: 1.5px;
  color: #fcb800;
}

.basket-bonus__basket {
  display: block;
  position: relative;
  text-decoration: none;
  color: #E9E9EA;
  font: lighter 15px/1.4em Source Sans Pro;
}

.basket__img {
  position: absolute;
  top: 0;
  left: -65px;
}

.basket__number {
  width: 24px;
  height: 24px;
  background: #fcb800;
  text-align: center;
  font: bold 13px/1.9em Source Sans Pro;
  color: #282828;
  position: absolute;
  top: 20px;
  left: -49px;
  padding-left: 2px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.basket__text {
  margin-top: -7px;
  margin-left: -1px;
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.6px;
}

.basket-bonus__bonus {
  position: relative;
  margin-top: 5px;
  margin-left: -65px;
}

.bonus__text {
  color: #E9E9EA;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.bonus__text::after {
  content: '';
  background: url(/nasha-pizza.by/img/header-top/line.png) 0% 0% repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

.bonus__text:hover::after {
  display: none;
}

.bonus__number {
  color: #fcb800;
  font: 700 23px/1.4em Source Sans Pro;
}

.account__link {
  display: block;
  text-decoration: none;
  color: #E9E9EA;
  background: url(/nasha-pizza.by/img/header-top/account.png) 0% 50% no-repeat;
  padding-left: 28px;
  font: 15.8px Source Sans Pro;
  letter-spacing: 0.6px;
}

.header__header-nav {
  margin-top: -1px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1233px;
  min-height: 109px;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 2px 2px 0 2px;
  border: 2px solid #fcb800;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.header-nav__item {
  text-align: center;
}

.header-nav__nav-link {
  text-decoration: none;
  color: #E9E9EA;
}

.header-nav__nav-link:hover {
  color: #fcb800;
}

.header-nav__nav-link:hover > .nav-link__img {
  display: none;
}

.header-nav__nav-link:hover > .nav-link__img--active {
  display: inline;
}

.nav-link__img--active {
  display: none;
}

.nav-link__text {
  font: 18px Source Sans Pro;
  letter-spacing: 1.1px;
  padding-top: 5px;
}
/*# sourceMappingURL=style.css.map */