.header__header-nav{
  margin: -1px 50px 0px 50px;
}

@media (max-width: 992px) {
  .header__header-nav{
    margin: -1px 0 0 0;
  }
}

.header-nav{
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    padding: 15px 11px 14px;
    border: 2px solid $color-yellow;
    border-radius: 5px;
  }

  &__item{
    text-align: center;
  }

  &__nav-link{
    text-decoration: none;   
    color: $color-gray;
  }

  &__nav-link:hover{
    color: $color-yellow;
  }

  &__nav-link:hover > .nav-link__img{
    display: none;
  }

  &__nav-link:hover > .nav-link__img--active{
    display: inline;
  }
}

@media (max-width: 992px) {
  .header-nav{
    &__list{
      display: none;
    }
  }
}

.button-nav__link{
  display: none;
}

@media (max-width: 992px) {
  .button-nav__link{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 600 15.8px Source Sans Pro;
    letter-spacing: 1.4px;
    background: rgba(0, 0, 0, 0.7);
    padding: 13px 11px 14px;
    border: 2px solid $color-yellow;
    border-radius: 5px;
  }
}

.nav-link{
  &__img{
    margin-left: -1px;
  }

  &__img--active{
    display: none;
  }

  &__text{
    font: 18px Source Sans Pro;
    letter-spacing: 1px;
    padding-top: 5px;
  }
}