.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 17px 18px 10px;
}

@media (max-width: 992px ) {
  .header__top{
    padding: 5px;
    min-height: 51px;
  }
}

.header-top{
  &__wp-l{
    display: flex;
    justify-content: flex-start;
    align-items: center
  }
  
  &__wp-r{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__call-order{
    display: flex;
    flex-direction: column;
    padding: 23px 30px;
  }
  
  &__working-hours{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px 0 0 20px;
  }

  &__logo{
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -62px;
  }

  &__basket-bonus{
    position: relative;
    padding-top: 2px;
    margin-right: 31px;
  }

  &__account{
    margin-top: -5px;
    margin-right: 32px;
  }
}

@media (max-width: 1199px ) {
  .header-top__logo{
   margin-left: 0;
  }
}

@media (max-width: 992px ) {
  .header-top{
    &__call-order{
      padding: 0;
    }

    &__logo{
      top: 5px;
      left: 15px;
    }
  }  
}

// .header__top - .call-order

.call-order{
  &__phone-link{
    text-decoration: none;
    color: $color-yellow;
    font: 600 24px/1.4em Source Sans Pro;
    letter-spacing: 0.85px;

    &:hover{
     text-decoration: underline;
    }
  }
 
  &__text-link{
    text-decoration: none;
    color: $color-gray;
    font: 15.8px/1.4em Source Sans Pro;
    letter-spacing: 0.7px;
    background: url(../img/header-top/phone.png) 8% 100% no-repeat;
    padding: 3px 0 0 47px;

    &:hover{
      color: $color-yellow;
    }
  } 
}

@media (max-width: 992px){
  .call-order{
    &__text-link{
      display: none;
    }

    &__phone-link{
      position: absolute;
      top: 5px;
      left: 50%;
      font-size: 14.8px; 
      letter-spacing: 0.95px;
      margin-left: -60.5px;
    }
  }
}

// /.header__top - .call-order
//.header__top - .working-hours

.working-hours{
  &__top{
    margin-left: -1px;
    margin-bottom: -2px;
  }

  &__top, &__bottom{
    color: $color-gray;
    font: 15.8px/1.4em Source Sans Pro;
    letter-spacing: 0.7px;
  }

  &__hours{
    font: 600 23px/1.4em Source Sans Pro;
    letter-spacing: 1.5px;
    color: $color-yellow;
  }
}

@media (max-width: 992px ) {
  .working-hours{
    &__top{
      display: none;
    }

    &__bottom{
      position: absolute;
      top: 22.5px;
      left: 50%;
      color: #fff;
      font-size: 14.8px; 
      font-weight: 300;
      letter-spacing: 0;
      margin-left: -50px;
    }

    &__hours{
      color: #fff;
      font-size: 13.8px;
      font-weight: 600; 
      letter-spacing: 0.5px; 
    }
  }
}

@media (max-width: 992px ) {
  .logo__img{
   width: 50px;
  }
}

// /.header__top - .working-hours
// .header__top - .basket-bonus

.basket-bonus{
  &__basket{
    display: block;
    position: relative;
    text-decoration: none;
    color: $color-gray;
    font: lighter 15px/1.4em Source Sans Pro;
  }

  &__basket-show{
    display: none;
    position: absolute;
    top: 5px;
    left: -220px;
    background: #fff;
    text-align: center;
    font: 400 16px/1.2em Source Sans Pro;
    padding: 15px 10px;
    border-radius: 10px;
    z-index: 100;

    &::after{
      content: '';
      border: 8px solid transparent;
      border-left: 4px solid white;
      position: absolute;
      top: 15px;
      right: -12px;
    }
  }

  &__bonus-show{
    display: none;
    position: absolute;
    top: 34px;
    left: -225px;
    background: #fff;
    font: 400 16px/1.2em Source Sans Pro;
    text-align: center;
    border-radius: 10px;
    max-width: 150px;
    padding: 5px;
    z-index: 100;

    &::after{
      content: '';
      border: 8px solid transparent;
      border-left: 4px solid white;
      position: absolute;
      top: 15px;
      right: -12px;
    }
  }
}

.basket-show{
  &__num{
    color: $color-yellow;
    font-size: 22px;
  }

  &__clear{
    font-size: 20px;
    display: block;
    color: $color-yellow;
    text-decoration: none;
    margin-top: 5px;
    letter-spacing: 1px;
  }
}

@media (max-width: 992px ) {
  .basket-bonus__basket{
    position: absolute;
    top: -22px;
    right: -110px;
  }
}

.basket{
  &__img{
    position: absolute;
    top: 0;
    left: -65px;
  }

  &__number{
    width: 24px;
    height: 24px;
    background: $color-yellow;
    text-align: center;
    font: bold 13px/1.9em Source Sans Pro;
    color: #282828;
    position: absolute;
    top: 20px;
    left: -49px;
    padding-left: 2px;
    border-radius: 100px;
  }

  &__text{
    margin-top: -7px;
    margin-left: -1px;
    color: $color-gray;
    font: 15.8px Source Sans Pro;
    letter-spacing: 0.6px;
  }
}

@media (max-width: 992px ) {
  .basket{
    &__img{
      position: absolute;
      margin: 11px 0 0 23px;
      width: 24px;
    }

    &__number{
      position: absolute;
      font-size: 10px;
      line-height: 1.7em;
      top: 25px;
      left: -31px;
      width: 16px;
      height: 16px;
    }

    &__text{
      display: none;
    }
  } 
}

.basket-bonus__bonus{
  position: relative;
  margin-top: 5px;
  margin-left: -65px;
}

.bonus{
  &__text{
    color: $color-gray;
    font: 15.8px Source Sans Pro;
    letter-spacing: 0.5px;
    text-decoration: none;

    &::after{
      content: '';
      background: url(../img/header-top/line.png) 0% 0% repeat-x;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }
  
    &:hover::after{
      display: none;
    }
  }

  &__number{
    color: $color-yellow;
    font: 700 23px/1.4em Source Sans Pro; 
  }
}

@media (max-width: 992px ) {
  .bonus__text{
   display: none;
  }
}

.account{
  &__link{
   display: flex;
    text-decoration: none;
    color: $color-gray;
    font: 15.8px Source Sans Pro;
    letter-spacing: 0.6px;
  }

  &__img{
   align-self: center;
    margin-right: 11px;
  }
}

@media (max-width: 992px ) {
  .account{
    &__img{
     margin: 5px 23px 0 0;
    }

    &__text{
      display: none;
    }
  }
}  