.main__slider{
  position: relative;
  padding: 62px 132px;
  width: 100%;
  height: 550px;
  background: url(../img/slider/slider_bg1.jpg) no-repeat;
  background-size: contain;
}

@media (max-width: 1199px) {
  .main__slider{
    height: 403px;
    padding: 52px 100px;
  }
}

@media (max-width: 768px) {
  .main__slider{
    height: 250px;  
    background: url(../img/slider/slider_bg2.jpg) 0 no-repeat;
    padding: 20px 34px;
    background-size: 100%;
  }
}

@media (max-width: 425px) {
  .main__slider{
    background: url(../img/slider/slider_bg2.jpg) no-repeat;
    padding: 20px 15px;
    background-size: 100%;
    height: 188px;
  }
}

.slider{
  &__bazilik{
    position: absolute;
    top: -65px;
    left: -97px;
  }

  &__bazilik--bottom{
    display: none;
  }

  &__title{
    font: 600 40px/1.4em  Source Sans Pro;
    color: $color-yellow;
  }

  &__text{
    padding-top: 6px;
    font: 24.8px/1.4em Source Sans Pro;
    letter-spacing: 1.15px;
    color: $color-gray;
  }

  &__button{
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 55px;
    padding: 12.5px 40px;
  }
  
  @media (max-width: 992px) {
    .slider{
      &__bazilik{
        display: none;
      }

      &__title{
        font-size: 30px;
      }
    
      &__text{
        font-size: 15px;
      }

      &__button{
        margin-top: 45px;
      }
    }
  }

  @media (max-width:768px) {
    .slider{
      &__title{
       font-size: 20px;
       padding: 0;
      }

      &__text{
        font-size: 16px;
      }

      &__button{
        font-size: 16px;
        margin-top: 19px;
        padding: 10.5px 65px;
      }
    }
  }

  @media (max-width: 425px) {
    .slider{
      &__title{
        font-size: 16px;
       padding-right: 20px;
      }

      &__text{
        font-size: 12px;
      }

      &__button{
        font-size: 16px;
        margin-top: 5px;
        padding: 10.5px 65px;
      }
    }
  }
}